<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Restaurant</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
    <div th:replace="fragments/header :: header" />
        <div class = "container">
	        <div class = "row">
	            <div th:replace="fragments/usernavbar :: usernavbar" />
	        </div>
        </div>
        <h1>Add menu item</h1>
        <div class = "col-md-1">
        </div>
        <div class = "col-md-5">
	       <form class="form-group" method="POST" th:action="@{/order}" th:object="${order}">
			        <table>
			            <tr>
			                <td>
			                <label th:for="tablenumber">Table number (between 1 and 20):</label>
		                    </td>
			                <td>
			                <input th:type="number" th:id="quantity" th:field="*{tableNumber}" th:min="1" th:max="20">
			                </td>
			                <td>
			                    <span
			                       class="validationError" th:if="${#fields.hasErrors('tableNumber')}"
			                       th:errors="*{tableNumber}">error
			                    </span>
			                 </td>
			            </tr>
			            <tr>
			                <td>
			                    <label for="type">Status: </label></td>
			                <td>
			                    <div class="form-check" >
				                    <input class="form-check-input" name="open" type="radio" value="open" th:field="*{status}">
				                    <label class="form-check-label">Open</label>
			                    </div>
			                    <div class="form-check" >
		                            <input class="form-check-input" name="reserved" type="radio" value="reserved" th:field="*{status}">
		                            <label class="form-check-label">Reserved</label>
		                        </div>
			                </td>
			                <td>
			                    <span
			                       class="validationError" th:if="${#fields.hasErrors('status')}"
			                       th:errors="*{status}">error
			                    </span>
			                 </td>
			            </tr>
			            <tr>
			                <td></td>
			                <td><input class="btn btn-primary" type="submit" value="Create order" /></td>
			            </tr>
			        </table>
	           </form>
	           <h2>Basket</h2>
	           <div th:each="menu : ${basket}">
                   <label scope="row" th:text="${menu.id}">null</label>
                   <label th:text="${menu.title}">null</label>
                   <label th:text="${menu.price}">null</label>
                </div>
            </div>
	    <div class= "col-md-5">
		    <h1>Menu table</h1>
		    
		    <h2>Soup</h2>
		    <table class="table table-striped">
		        <thead class="thead-dark">
		            <tr>
		                <th scope="col">Id</th>
		                <th scope="col">Title</th>
		                <th scope="col">Price</th>
		                <th scope="col"></th>
		            </tr>
		        </thead>
		        <div th:each="menu : ${soup}">
		            <tr>
		                <td scope="row" th:text="${menu.id}">null</td>
		                <td th:text="${menu.title}">null</td>
		                <td th:text="${menu.price}">null</td>
		                <td>
			                <form method="POST" th:action="'/order/add-item/'+${menu.id}" id="itemForm">
                                <button class="btn btn-secondary">Add</button>
                            </form>
		                </td>
		            </tr>
		        </div>
		    </table>
		    <h2>Appetizer</h2>
		    <table class="table table-striped">
		        <thead class="thead-dark">
		            <tr>
		                <th scope="col">Id</th>
		                <th scope="col">Title</th>
		                <th scope="col">Price</th>
		                <th scope="col"></th>
		            </tr>
		        </thead>
		        <div th:each="menu : ${appetizer}">
		        <tr>
		            <td scope="row" th:text="${menu.id}">null</td>
		            <td th:text="${menu.title}">null</td>
		            <td th:text="${menu.price}">null</td>
		            <td>
                        <form method="POST" th:action="'/order/add-item/'+${menu.id}" id="itemForm">
                                <button class="btn btn-secondary">Add</button>
                        </form>
                    </td>
		        </tr>
		        </div>
		    </table>
		    <h2>Salad</h2>
		    <table class="table table-striped">
		        <thead class="thead-dark">
		            <tr>
		                <th scope="col">Id</th>
		                <th scope="col">Title</th>
		                <th scope="col">Price</th>
		                <th scope="col"></th>
		            </tr>
		        </thead>
		        <div th:each="menu : ${salad}">
		        <tr>
		            <td scope="row" th:text="${menu.id}">null</td>
		            <td th:text="${menu.title}">null</td>
		            <td th:text="${menu.price}">null</td>
		            <td>
		                <form method="POST" th:action="'/order/add-item/'+${menu.id}" id="itemForm">
                                <button class="btn btn-secondary">Add</button>
                        </form>
		            </td>
		        </tr>
		        </div>
		    </table>
		    <h2>Main</h2>
		    <table class="table table-striped">
		        <thead class="thead-dark">
		            <tr>
		                <th scope="col">Id</th>
		                <th scope="col">Title</th>
		                <th scope="col">Price</th>
		                <th scope="col"></th>
		            </tr>
		        </thead>
		        <div th:each="menu : ${main}">
		            <tr>
		                <td scope="row" th:text="${menu.id}">null</td>
		                <td th:text="${menu.title}">null</td>
		                <td th:text="${menu.price}">null</td>
		                <td>
		                    <form method="POST" th:action="'/order/add-item/'+${menu.id}" id="itemForm">
                                <button class="btn btn-secondary">Add</button>
                            </form>
		                </td>
		            </tr>
		        </div>
		    </table>
		    <h2>Dessert</h2>
		    <table class="table table-striped">
		        <thead class="thead-dark">
		            <tr>
		                <th scope="col">Id</th>
		                <th scope="col">Title</th>
		                <th scope="col">Price</th>
		                <th scope="col"></th>
		            </tr>
		        </thead>
		        <div th:each="menu : ${dessert}">
		            <tr>
		                <td scope="row" th:text="${menu.id}">null</td>
		                <td th:text="${menu.title}">null</td>
		                <td th:text="${menu.price}">null</td>
		                <td>
		                    <form method="POST" th:action="'/order/add-item/'+${menu.id}" id="itemForm">
                                <button class="btn btn-secondary">Add</button>
                            </form>
		                </td>
		            </tr>
		        </div>
		  </table>
	    </div>
    <div th:replace="fragments/footer :: footer" />
</body>
</html>