<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Restaurant</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="container">
	    <div th:replace="fragments/usernavbar :: usernavbar" />
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Price</th>
				</tr>
			</thead>
			<div th:each="item : ${items}">
				<tr>
					<td scope="row" th:text="${item.id}">null</td>
					<td th:text="${item.title}">null</td>
					<td th:text="${item.price}">null</td>
				</tr>
			</div>
		</table>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>