<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Restaurant</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<script th:inline="javascript">
        const orders = [[${ordersreport}]];
        const incomes = [[${incomereport}]];
    </script>
	<div th:replace="fragments/header :: header" />
	<div id="layoutSidenav">
		<div th:replace="fragments/sidenav :: user" />
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Statistics</h1>
					<div class="row">
						<div class="col-lg-12">
							<div class="card mb-12">
								<div class="card-header">
									<i class="fas fa-chart-area me-1"></i> Orders per year
								</div>
								<div class="card-body">
									<canvas id="areaChart" width="100%" height="30"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-12">
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i> Income report
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</main>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="js/chart-area.js"></script>
	<script src="js/chart-line.js"></script>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>