<html xmlns="http://www.w3.org/1999/xhtml" xmlns:
    th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add item</title>
<link rel="stylesheet" th:href="@{css/styles.css}" />
<div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <h1>Update menu item</h1>
    <form method="POST" th:action="@{'/admin/menueditor/updatemenu/'+${item.id}}" th:object="${item}">
        <table width="50%">
            <tr>
                <td><label for="title">Title: </label></td>
                <td>
                <input type="text" th:field="*{title}"  th:value="*{title}"/></td>
                <td>
                    <span
                       class="validationError" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}">error
                    </span>
                 </td>
            </tr>
            <tr>
                <td><label for="price">Price: </label></td>
                <td>
                    <input type="number" min=0 th:field="*{price}" th:value="*{price}"/>
                 </td>
                 <td>
                    <span
                       class="validationError" th:if="${#fields.hasErrors('price')}"
                       th:errors="*{price}">error
                    </span>
                 </td>
            </tr>
            <tr>
                <td>
                    <label for="type">Type: </label></td>
                <td>
                    <br/><input name="soup" type="radio" value="soup" th:field="*{type}">Soup
                    <br/><input name="apperizer" type="radio" value="apperizer" th:field="*{type}">Apperizer
                    <br/><input name="salad" type="radio" value="salad" th:field="*{type}">Salad
                    <br/><input name="main" type="radio" value="main" th:field="*{type}">Main
                    <br/><input name="dessert" type="radio" value="dessert" th:field="*{type}">Dessert
                </td>
                <td>
                    <span
                       class="validationError" th:if="${#fields.hasErrors('type')}"
                       th:errors="*{type}">error
                    </span>
                 </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save item" /></td>
            </tr>
        </table>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>