@charset "UTF-8";

h1 {
	font-family: cursive;
	text-align: center;
	color: black;
}

h2 {
	font-family: cursive;
	text-align: center;
	color: black;
}

.validationError {
	color: red;
}

.img-tables {
	height: 150px;
	width: 150px;
	object-fit: contain;
}

div.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    float: left;
}

footer {
	margin-top: 60px;
}

td, th {
	width: 20%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: gray;
	color: white;
	text-align: center;
}